{% extends 'layout.html.twig' %}

{% block content %}
{% include 'Admin/_adminnavbar.html.twig' %}
    <div class="text-center">
        <h1>ADD A SIZE</h1>
        <br>
        <br>
        {% include 'Size/_form.html.twig' %}
    </div>
{% endblock %}