{% extends 'layout.html.twig' %}

{% block content %}
    <div class="text-center">
        <h1>EDIT SIZE</h1>
        <br>
        {% include 'Size/_form.html.twig' %}
        <a href="/size/index/{{ category.id }}">Back</a>
    </div>
{% endblock %}
