{% extends 'layout.html.twig' %}

{% block title %} All size {% endblock %}

{% block content %}
{% include 'Admin/_adminnavbar.html.twig' %}
    <div class="text-center">
        <h1>SIZES</h1>
        <br>
        <a href="/size/add" class="btn btn-secondary">ADD SIZE</a>
        <br>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">action</th>
                    <th scope="col"></th>
                </tr> 
            <tbody>
                {% for size in sizes %}
                    <tr>
                        <th scope="row">{{ size.id }}</th>
                        <td>{{ size.name }}</td>
                        <td><a href="/size/edit/{{ size.id }}" class="btn btn-outline-secondary">EDIT</a></td>
                        <td><a href="/size/delete/{{ size.id }}" class="btn btn-outline-dark">DELETE</a></td>
                    </tr>
                {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}