<header>
    <div class="headeradmin">
        <a href="/admin/index/" class="logoadmin"><img src="/assets/images/LogoCOURT.png" width="100px" alt="logoVB"/></a>
        <a href="/admin/index/" class="text-reset logoutadmin"><span class="material-icons fs-3">settings_power</span></a>
    </div>
    <hr>
    </br>
 </header>
