<div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 text-center"><a href="/admin/index/" class="logoadmin navbar-brand"><img src="/assets/images/LogoCOURT.png" width="100px" alt="logoVB"/></a></div>
        <div class="col-1 align-self-center text-center"><a href="/admin/index/" class="text-reset logoutadmin"><span class="material-icons fs-3">settings_power</span></a></div>
    </div>
</div>