{% extends 'layout.html.twig' %}

{% block content %}
    <h1>The categories</h1>
    <ul>
        {% for category in categories %}
            <li><a href="/category/show/{{ category.id }}">{{ category.name }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/category/add">Ajouter</a>
{% endblock %}
