<form method="post">
    <input type="hidden" value="{{ newsletter.id }}" name="id">
    <label for="email">NewsLetter</label>
    <input type="text" value="{{ newsletter.email }}" name="email">
    <input type="submit" value="Valider">
</form>
