<section id="contactNewsletter">
    {% if errors is not empty %}
        {% for error in errors %}
            <p>{{error}}</p>
        {% endfor %}
    {% else %}
        <p>{{ sentence}}</p>
    {% endif %}
</section>


<form method="post">
    <div><label for="emailnews" class="d-none d-sm-none d-lg-block">NEWSLETTER</label></div>
	<div><label for="emailnews" class="d-block d-sm-block d-lg-none text-center">NEWSLETTER</label></div>
	<div class="d-flex mt-2">
		<input class="form-control" type="email" name="emailnews" placeholder="my.email@exemple.com" required>
		<button class="btn btn-small" type="submit"><span class="material-icons">send</span></button>
	</div>
</form>