{% extends 'layout.html.twig' %}

{% block content %}
    <div class="text-center">
        <h1>NEW BLOG ARTICLE</h1>
        <br>
        {% include 'Blog/_form.html.twig' %}
    </div>
{% endblock %}
