{% extends 'layout.html.twig' %}

{% block title %} Edit your blog article{% endblock %}

{% block navbar %}{% include 'Admin/_adminnavbar.html.twig' %}{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>EDIT ARTICLE</h1>
        <br>
        <br>
        {% include 'Blog/_form.html.twig' %}
        <br>
        <a href="/blog/index/{{ blog.id }}">Back</a>
    </div>
{% endblock %}

{% block footer %}{% include 'Admin/_adminfooter.html.twig' %}{% endblock %}
