<form method="post">
    <input type="hidden" value="{{ order.id }}" name="id">
    <input type="text" value="{{ order.created_at }}" name="created_at">
    <input type="text" value="{{ order.total }}" name="total">

    <input type="submit" value="Valider">
</form>