{% extends 'layout.html.twig' %}

{% block navbar %}{% include 'Admin/_adminnavbar.html.twig' %}{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>ADD A CATEGORY</h1>
        <br>
        <br>
        {% include 'Category/_form.html.twig' %}
    </div>
{% endblock %}

{% block footer %}{% include 'Admin/_adminfooter.html.twig' %}{% endblock %}
