{% extends 'layout.html.twig' %}

{% block content %}
{% include 'Admin/_adminnavbar.html.twig' %}
    <div class="text-center">
        <h1>EDIT CATEGORY</h1>
        <br>
        {% include 'Category/_form.html.twig' %}
        <a href="/category/index/{{ category.id }}">Back</a>
    </div>
{% endblock %}
