{% extends 'layout.html.twig' %}

{% block title %} Edit your product{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>EDIT PRODUCT</h1>
        <br>
        <br>
        {% include 'Product/_form.html.twig' %}
        <br>
        <a href="/product/index">Back</a>
    </div>
{% endblock %}