{% extends 'layout.html.twig' %}

{% block title %} Edit your product{% endblock %}

{% block content %}
    <h1>Edit {{ product.title }}</h1>
    {% include 'Product/_form.html.twig' %}
    <a href="/product/index">Back</a>
{% endblock %}