* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Abel", sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 50px;
}

footer {
  height: 50px;
  width: 100%;
  background-color: white;
  border-top: 1px solid black;
  margin-top: auto;
  padding-top: 10px;
}
