:root {
  --greyvibe: rgb(238 236 236);
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Abel", sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.back {
  margin-bottom: 30px;
}

footer {
  height: 50px;
  width: 100%;
  background-color: white;
  border-top: 1px solid black;
  margin-top: auto;
  padding-top: 10px;
}

.homeheader {
  overflow: hidden;
}

.headerimg {
  width: 100%;
}

.homeabout {
  background-color: var(--greyvibe);
}

.hometriangle img {
  max-width: 80px;
}

.hometeam {
  background-color: var(--greyvibe);
}

.hometeam img {
  max-width: 40%;
