
{% extends 'layout_user.html.twig' %}
{% block title %} USER REGISTER {% endblock %}

{% block content %}
<div class="container">
	<div class="register">
		<h1 class="">REGISTER</h1>
        <div class="formregister">
        {% include 'Security/_form.html.twig' %}
        </div>
	</div>
</div>
{% endblock %}

