{% extends 'layout.html.twig' %}

{% block content %}

	<h1>Cart!</h1>

    {{dump(cart)}}
	<table class="table table-bordered">
		<thead>
			<tr>
				<th scope="col">Product</th>
				<th scope="col">Price</th>
				<th scope="col">Quantity</th>
				<th scope="col">Total</th>
			</tr>
		</thead>
		<tbody>
			{% for product in cart %}
			<tr>
                <td>{{product.title}}</td>
				<td>{product.price}}</td>
				<td>{product.quantity}}</td>
				<td>@{product.quantity * product.price}}</td>
            </tr> 
			{% endfor %}
		</tbody>
	</table>

	<h3> TOTAL :  {{totalCart}} € </h3>

{% endblock %}
