{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container text-center">
        <h1>EDIT A USER</h1>
        {% include 'User/_form.html.twig' %}
        <a href="/User/index">Back</a>
    </div>
{% endblock %}
