{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Add a new item</h1>
    
        {{ dump(errors) }}

    {% for error in errors %}
        {{ errors }}
    {% endfor %}
    {% include 'Contact/_form.html.twig' %}
{% endblock %}
